<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false" />
    </configSections>

    <rewriter>
        <rewrite url="~/goods/list.html" to="~/index.aspx" processing="stop" />
        <rewrite url="~/goods/(\d+).html" to="~/goods.aspx?gid=$1" processing="stop" />
		<rewrite url="~/goods/bay.html" to="~/goods_bay.aspx" processing="stop" />
        <rewrite url="~/goods/my.html" to="~/goods_my.aspx" processing="stop" />
		<rewrite url="~/goods/my_(\d+).html" to="~/goodssell_my.aspx?sid=$1" processing="stop" />
    </rewriter>
    <connectionStrings>
        <add name="connstr" connectionString="uid=sa;pwd=ybsc0123;database=cp2012;server=YB-SIMWON\SQL2008;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
        <add name="connstrkjh" connectionString="uid=sa;pwd=ybsc0123;database=kjh;server=YB-SIMWON\SQL2008;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
        <add name="connstrbbs" connectionString="uid=sa;pwd=ybsc0123;database=thcaibbs;server=YB-SIMWON\SQL2008;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
    </appSettings>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet" />
                <add name="HttpPost" />
            </protocols>
        </webServices>
        <compilation debug="true">
        </compilation>
        <httpModules>
            <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" />
        </httpModules>
        <authentication mode="Windows" />
        <customErrors mode="Off" defaultRedirect="/404.html">
            <error statusCode="404" redirect="/404.html" />
        </customErrors>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
        <pages validateRequest="false" enableViewStateMac="false" />
        <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="3600" />
    </system.web>

    <system.webServer>
        <handlers>
            <add name="URLReWriter" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>