<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<add key="picdomain" value="http://images.haocw.com/" />
		<add key="vcodetype" value="2" />
		<!-- 图片大小设置 -->
		<add key="nulldate" value="2000-1-1" />		<!-- 上传文件配置 -->
		<add key="BufferSize" value="128" />
		<add key="MaxRequestSize" value="2000000" />
		<add key="TempPath" value="Temp" />
		<add key="SavePath" value="/Resource/File" />
		<add key="com.haocw.images.upload" value="http://images.haocw.com/upload.asmx" />
		<!-- 后台登录验证码 -->
		<add key="masterlogincodecookiesname" value="mslogcode" />
	</appSettings>
	<connectionStrings>
        <add name="connstr" connectionString="uid=sa;pwd=ybsc_0123;database=hcw;server=.;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
        <add name="connstrkjh" connectionString="uid=sa;pwd=ybsc_0123;database=hcwkjh;server=.;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
        <add name="connstrbbs" connectionString="uid=sa;pwd=ybsc_0123;database=hcwbbs;server=.;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入 
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
        <pages enableEventValidation="false" viewStateEncryptionMode="Never" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows" />
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0" maxRequestLength="1024000" executionTimeout="900" />
		<httpHandlers>
			<add verb="POST,GET" path="Upload.axd" type="Admin.Upload" />
		</httpHandlers>
	</system.web>
 <system.webServer>
		<directoryBrowse enabled="true" />
		<defaultDocument enabled="false">
			<files>
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="default.aspx" />
				<remove value="Default.htm" />
                <add value="home.aspx" />
                <add value="login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
 <applicationSettings>
  <Admin.Properties.Settings>
   <setting name="Admin_com_haocw_images_UpLoad" serializeAs="String">
    <value>http://images.haocw.com/upload.asmx</value>
   </setting>
  </Admin.Properties.Settings>
 </applicationSettings>
</configuration>
